:root {
  --color-primary: #0B72EA;
  --color-primary-hover: #095AB9;
}

.button--primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: white;

  &:hover {
    background-color: var(--color-primary-hover);
  }
  
  &:focus {
    box-shadow: 0 0 0 2px color-mix(in srgb, var(--color-primary) 50%, transparent);
  }

  &[disabled],
  &.button--disabled {
    background-color: var(--color-gray);
    border-color: 1px solid var(--color-gray);
  }
}
