/* === Secondary button === */

.button--secondary {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: white;

  &:hover {
    background-color: var(--color-secondary-hover);
  }

  &:focus {
    box-shadow: 0 0 0 2px color-mix(in srgb, var(--color-secondary) 50%, transparent);
  }

  &[disabled],
  &.button--disabled {
    background-color: var(--color-gray);
    border-color: 1px solid var(--color-gray);
  }

  &.button--outlined {
    background-color: transparent;
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);

    &:hover {
      background-color: var(--color-secondary);
      color: white;
    }

    &[disabled],
    &.button--disabled {
      background-color: transparent;
      border-color: 1px solid var(--color-gray);
      color: var(--color-gray);
    }
  }
}
