/* === Base Checkbox === */

.checkbox {
  display: inline-block;

  input[type=checkbox] {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
    opacity: 0;
    
    &:checked + label {
      &::before {
        background-color: currentColor;
      }
      
      &::after {
        filter: brightness(0) invert(1);
        opacity: 1;
      }
      
      &:hover {
        &::before {
          background-color: currentColor;
        }
      }
    }

    &:focus + label {
      &::before {
        border-color: currentColor;
      }
    }

    &:checked:focus + label {
      &::before {
        background-color: currentColor;
      }
    }
  }

  label {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    vertical-align: top;
    line-height: 20px;
    cursor: pointer;
    user-select: none;
    
    &:hover {
      &::before {
        border-color: currentColor;
      }
      
      &::after {
        opacity: 1;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: transparent;
      border-radius: 4px;
      border: 2px solid currentColor;
      transition: 0.3s ease;
    }

    &::after {
      content: "";
      position: absolute;
      top: 7px;
      left: 5px;
      width: 10px;
      height: 7px;
      background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDEwIDciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDNMNCA2TDkgMSIgc3Ryb2tlPSIjQjdDOURFIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K") center / contain no-repeat;
      opacity: 0;
      transition: 0.3s ease;
    }
  }
  
  input[type="checkbox"][disabled],
  &.checkbox--disabled input[type="checkbox"] {
    + label {
      pointer-events: none;
      
      &::before {
        border-color: var(--color-disabled);
      }
    }
    
    &:checked + label {
      &::before {
        background-color: var(--color-disabled);
        border-color: var(--color-disabled);
      }
    }
  }
}