/* === Primary Checkbox === */

.checkbox--primary {
  input[type="checkbox"] {
    &:not([disabled]) + label {
      &::before {
        border-color: var(--color-primary);
      }

      &:hover {
        &::before {
          border-color: var(--color-primary-hover);
        }
      }
    }

    &:checked:not([disabled]) + label {
      &::before {
        background-color: var(--color-primary);
        border-color: var(--color-primary);
      }

      &:hover {
        &::before {
          background-color: var(--color-primary-hover);
          border-color: var(--color-primary-hover);
        }
      }
    }

    &:not([disabled]) {
      &:focus + label {
        &::before {
          border-color: var(--color-primary-hover);
        }
      }

      &:checked:focus + label {
        &::before {
          background-color: var(--color-primary-hover);
        }
      }
    }
  }
}
